.axure {
    position: relative;
    padding: 100px 0;
    background: url(../img/background\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.axure::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.55);
}

.axure-title {
    font-family: 'Raleway';
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 34px;
    color: #FFFFFF;
}

.axure-title::after{
    content: "";
    margin: auto;
    width: 64px;
    height: 2px;
    background-color: #FFFFFF;
    margin-top: 34px;   
    display: block;  
}
.axure-podtext {
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 57px;
}
.axure-btn {
    font-family: 'Open Sans';
    display: block;
    margin: auto;
    width: 135px;
    border: 1px solid #FFFFFF;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(28,28,28,0);
    cursor: pointer;
    transition: 0.2s;
}

.axure-btn:hover{
    transform: translate(0px, -10px);
    transform: skew(-10deg);
    color: cornflowerblue;
}