.axure {
    position: relative;
    padding: 58px 0;
    background: url('../img/background 1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 100% auto; */
    /* background-size: auto 100%; */
    background-size: cover;
    /* z-index: 1; */
}
.axure::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.55);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    /* background-color: url('../img/mask.png'); */
    /* z-index: 2; */
}

.axure-title {
    font-family: 'Raleway';
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 34px;
    color: #FFFFFF;
}
.axure-title::after {
    content: "";
    margin: auto;
    width: 64px;
    height: 1px;
    background-color: #FFFFFF;
    display: block;
    margin-top: 34px;
  }
.axure-sub-text {
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 57px;
}
.axure-btn {
    font-family: "Open Sans";
	font-weight: 400;
    display: block;
    margin: auto;
    width: 135px;
    border: 1px solid #FFFFFF;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(28,28,28,0);
    cursor: pointer;
}
.axure-btn:hover {
    /* color: rgb(23, 23, 23); */
	transform: scale(1.1);
	transition: 0.5s;
}