.contacts {
	/* padding: 100px 0; */
}
.contacs-row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 -15px 68px;
	align-items: flex-start;
}
.contacts-block {
	margin: 0 15px;
}
.contacts-block-item {
	width: 478px;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   color: #BDBDBD;
}
.contacts-block-item input {
	margin-bottom: 40px;
	font-size: 25px;
	border: none;
   border-bottom: 1px solid #BDBDBD;
   /* display: block; */
   width: 100%;
	outline: none;
}
/* .contacts-block-item input:focus {
	outline: none;
} */
.contacts-area {
	margin: 0 15px;
	width: 478px;
	/* height: 224px; */
   font-weight: 400;
   font-size: 14px;
   /* line-height: 19px; */
   color: #BDBDBD;
}
.contacts-area textarea{
	/* margin-bottom: 40px; */
	font-size: 26px;
	border: none;
   border-bottom: 1px solid #BDBDBD;
   /* display: block; */
   width: 100%;
	outline: none;
}
.contacts-btn {
	font-family: "Open Sans";
	font-weight: 600;
	display: block;
	width: 166px;
	padding: 11px;
	margin: auto;
	background: #EC7979;
	border: none;
	font-size: 15px;
	line-height: 20px;
	color: #FFFFFF;
}
.contacts-btn:hover {
	cursor: pointer;
}
