.contacts {
	/* padding: 100px 0; */
}
.contacs-row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 -15px 30px;
	align-items: flex-start;
}
.contacts-block {
	margin: 0 15px;
}
.contacts-block-item {
	width: 478px;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   color: #BDBDBD;
	margin-bottom: 40px;
}
.contacts-block-item input {
	font-family: "Raleway";
	font-size: 20px;
	border: none;
   border-bottom: 1px solid #BDBDBD;
   /* display: block; */
   width: 100%;
	outline: none;
}
.contacts-block-item:last-child{
	margin-bottom: 0;
}
/* .contacts-block-item input:password {
	margin-bottom: 0px;
} */
/* .contacts-block-item input:focus {
	outline: none;
} */
.contacts-area {
	margin: 0 15px;
   font-size: 14px;
   font-weight: 400;
   color: #BDBDBD;
	/* width: 478px; */
	/* height: 293px; */
	/* resize: none; */
   /* line-height: 19px; */
}
.contacts-area textarea{
	/* margin-bottom: 40px; */
	font-family: "Raleway";
	font-size: 18px;
	border: none;
   border-bottom: 1px solid #BDBDBD;
	width: 478px;
	height: 193px;
   display: block;
	resize: none;
	/* resize: horizontal; */
	/* resize: vertical; */
   /* width: 100%; */
	outline: none;
}
.contacts-btn {
	font-family: "Open Sans";
	font-weight: 600;
	display: block;
	width: 166px;
	padding: 11px;
	margin: auto;
	background: #EC7979;
	border: none;
	font-size: 15px;
	line-height: 20px;
	color: #FFFFFF;
	margin-top: 68px;
}
.contacts-btn:hover {
	cursor: pointer;
	color: rgb(23, 23, 23);
	transform: scale(0.9);
	transition: 0.5s;
}
