.footer {
  padding: 25px 0;
  background-color: #000000;
  width: 100%;
}

.footer-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer-icons-links {
  font-size: 20px;
  transition: 0.2s;
  margin-right: 15px;
  /* margin: 0 5px; */
}
/* .fa-facebook-f:hover {
  color: rgb(255, 0, 179);
  transform: scale(1.2);
} */
.copyright {
  margin-top: 10px;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
