.header {
  width: 100%;
  background-color: #000000;
  padding: 20px 0;
}
.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo a, b {
  display: inline-block;
  font-size: 30px;
  font-weight: 400;
  font-family: "Raleway";
  /* color: #fff; */
  text-transform: uppercase;
  transition: 0.8s;
  cursor: pointer;
}
.header-logo a:hover {
  color: #EC7979;
  transform: scale(1.1);
}
.header-logo b:hover {
  color: #FFFFFF;
  transform: scale(1.1);
}
.navigation {
  /* font-family: "Open Sans"; */
  /* font-weight: 400; */
}
.navigation-list {
/*   font-family: "Open Sans";
  font-weight: 400; */
  width: 489px;
  display: flex;
  justify-content: space-between;
}
.navigation-list-item a {
  /* font-family: "Open Sans"; */
  font-weight: 400;
  display: inline-block;
  font-size: 15px;
  /* font-weight: 600; */
  color: #FFFFFFB2;
}
.navigation-list-item a:hover {
  color: rgb(126, 72, 212);
  transform: scale(1.1);
  transition: 0.5s;
}
