.header {
  width: 100%;
  background-color: #000000;
  padding: 20px 0;
  position: sticky;
  top: 0px;
  z-index: 5;
}
.header-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px;
}

.header-logo a, b {
  display: inline-block;
  font-size: 30px;
  font-weight: 400;
  font-family: "Raleway";
  /* margin: 0 15px; */
  /* color: #fff; */
  text-transform: uppercase;
  transition: 0.8s;
  cursor: pointer;
}
.header-logo a{
  margin-left: 15px;
}
.header-logo a:hover {
  color: #EC7979;
  transform: scale(1.1);
}
.header-logo b:hover {
  color: #FFFFFF;
  transform: scale(1.1);
}
.navigation {
  width: 490px;
  /* justify-content: space-between; */
  /* display: flex; */
  /* flex-wrap: wrap; */
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* flex-direction: row; */
  
}
.navigation-list-item a {
  /* margin-right: 50px; */
  margin: 0 15px;
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFFB2;
  /* display: inline-block; */
  /* justify-content: space-between; */
}
.navigation-list-item:last-child a {
  /* margin-right: 0; */
}
.navigation-list-item a:hover {
  color: rgb(126, 72, 212);
  transform: scale(1.1);
  transition: 0.5s;
}
