@import url("../css/cdn.css");
@import url("../css/header.css");
@import url("../css/social.css");
@import url("../css/awesome.css");
@import url("../css/pricing.css");
@import url("../css/customers.css");
@import url("../css/axure.css");
@import url("../css/footer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  font-family: "Open Sans", "Raleway", sans-serif;
}
section {
  padding: 80px 0;
}
.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  position: relative;
  z-index: 2;
}
.title {
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 400;
  color: #212121;
  text-align: center;
  margin-bottom: 34px;
}
.title::after {
  content: "";
  margin: auto;
  width: 64px;
  height: 2px;
  background-color: #E72424;
  display: block;
  margin-top: 34px;
}
/* .line {
  width: 64px;
  border-bottom: 2px solid #E72424;
  margin: auto;
  margin-bottom: 34px;

  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2px;
}  */
.sub-text {
  /* width: 500px; */
  /* display: flex; */
  /* text-align: center; */
}
.sub-text p {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  /* font-family: "Open Sans"; */
  color: #86878B;
  margin-bottom: 34px;
}