.social {
    background-color: #F8EFEF;
    padding: 14px 0;
    width: 100%;
}
.social-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
}
.social-content {
    margin: 0 15px;
}
.social-content-subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 15px;  
}
.social-content-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
}
.social-icons {
    width: 684px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin: 0 15px;
}
.social-icons-links {
    font-size: 42px;
}
.fa-brands {
    transition: 0.2s;
    color: #86878B;
}
.fa-facebook-f {
    transform-origin: bottom right;
}
.fa-facebook-f:hover {
    color: rgb(0, 132, 255);
    transform: rotate(-45deg);
}
.fa-twitter:hover {
    color:skyblue;
    transform: rotate(35deg);
    }
.fa-google-plus-g:hover {
    color: rgb(255, 0, 106);
    transform: skew(5deg, 10deg);
}
.fa-pinterest:hover {
    color:rgb(232, 0, 253);
    transform: translate(0px, 5px);
}
.fa-instagram:hover {
    color: palevioletred;
    transform: scale(1.3);
}
.fa-vk:hover{
    color: rgb(2, 68, 250);
    transform: scale(0.8);
}
/* .fa-odnoklassniki:hover {
    color: coral;
    transform: scale(1.3);
} */
.fa-odnoklassniki {
    transform-origin: bottom right;
}
.fa-odnoklassniki:hover {
    color: coral;
    transform: rotate(45deg);
}