.tabs {
	
}	
.tabs-row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}	

.tabs-header {
	margin: 0 88px 0 15px;
	
}
.tabs-item {
	text-transform: uppercase;
	width: 120px;
	/* height: 110px; */
	background-color: #333333;
	border-radius: 4px;
	margin-bottom: 10px;
	text-align: center;
	line-height: 110px;
	font-weight: 700;
	font-size: 15px;


	/* margin: auto; */
	/* flex-direction: column; */
	/* align-items: center; */

}
.tabs-item:hover {
	background-color: #EC7979;

}
.tabs-item:nth-child(1) {
/* 	display: block;
	background-color: #EC7979; */
	/* margin-bottom: 10px; */
}
.tabs-item:nth-child(2) {
/* 	display: none;
	background-color: #EC7979; */
}
.tabs-item:nth-child(3) {
/* 	width: 120px;
	height: 110px;
	display: block;
	background-color: #333333;
	margin-bottom: 200; */
}
.tabs-item:last-child {
	/* margin-bottom: 0px; */
}

.tabs-content {
	max-width: 555px;
	/* max-height: 300px; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0 72px 0 0;
	/* justify-content: space-between; */
	/* flex-grow: 1; */
	
}
.tabs-content__item {
	/* flex-grow: 1; */
}

.tabs-content__item p {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
}
.tabs-title {
	margin-bottom: 58px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
}

.tabs-content__item:nth-child(1) {
	display: block;
}
.tabs-content__item:nth-child(2) {
	display: none;
}
.tabs-content__item:nth-child(3) {
	display: none;
}

.active {
	/* background-color: #EC7979; */
	
}
.tabs-img {
	display: block;
	/* margin: 30px 0 0 80px; */
	width: 320px;
	height: 253px;
	overflow: hidden;
}

.tabs-btn {
	font-family: "Open Sans";
	font-weight: 400;
	width: 166px;
	padding: 11px;
	background: #EC7979;
	border: 1px solid #FFFFFF;
	/* border: none; */
	font-size: 15px;
	line-height: 20px;
	color: #FFFFFF;
	margin-top: 90px;
	margin-bottom: 30px;
}
.tabs-btn:hover {
	cursor: pointer;
	color: rgb(23, 23, 23);
	transform: scale(0.9);
	transition: 0.5s;
}