.tabs {
	
}	
.tabs-row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
	justify-content: space-between;
}	

.tabs-header {
	margin: 0 38px 0 15px;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	
}
.tabs-item {
	text-transform: uppercase;
	width: 120px;
	/* height: 110px; */
	background-color: #333333;
	color: #FFFFFF;
	border-radius: 4px;
	margin-bottom: 10px;
	text-align: center;
	line-height: 110px;
	font-weight: 700;
	font-size: 15px;
	cursor: pointer;
	/* margin: auto; */
	/* flex-direction: column; */
	/* align-items: center; */
}
.tabs-item.active {
	background-color: #EC7979;
}

.tabs-item:hover {
	background-color: #e43535;

}
.tabs-item:nth-child(1) {
/* 	display: block;
	background-color: #EC7979; */
	/* margin-bottom: 10px; */
}
.tabs-item:nth-child(2) {
/* 	display: none;
	background-color: #EC7979; */
}
.tabs-item:nth-child(3) {
/* 	width: 120px;
	height: 110px;
	display: block;
	background-color: #333333;
	margin-bottom: 200; */
}
.tabs-item:last-child {
	margin-bottom: 0px;
}

.tabs-content {
	display: flex;
	/* margin: 0 40px 0 0; */
	/* width: 950px; */
	/* max-height: 300px; */
	/* justify-content: flex-start; */
	/* flex-wrap: wrap; */
	/* flex-direction: column; */
	/* flex-direction: row; */
	/* justify-content: space-between; */
	/* flex-grow: 1; */
	}

.tabs-content div {
	background-color: #FFFFFF;
}
.tabs-content__item {
	display: flex;
	/* width: 950px; */
	flex-wrap: wrap;
	justify-content: space-between;
	/* flex-direction: row; */
	/* flex-grow: 1; */
}

.tabs-content__item.active {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
	/* display: flex; */
	/* flex-direction: row; */
	/* justify-content: space-between; */
	/* flex-grow: 1; */
}
.tabs-left-content {
	width: 572px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 60px;
	/* transition-duration: 0.3s; */
}
.tabs-title {
	/* margin-bottom: 18px; */
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
}

.tabs-content__item:nth-child(1) {
	/* display: block; */
}
.tabs-content__item:nth-child(2) {
	display: none;
}
.tabs-content__item:nth-child(3) {
	display: none;
}

/* .active {
	background-color: #EC7979;
} */

.tabs-img {
	margin: 0 15px 0 0;
	display: flex;
	/* flex-wrap: wrap; */
	width: 320px;
	/* height: 253px; */
	overflow: hidden;
	align-items: flex-start;
	/* margin: 30px 0 0 80px; */
}

.tabs-btn {
	font-family: "Open Sans";
	font-weight: 400;
	width: 166px;
	padding: 11px;
	background: #EC7979;
	border: 1px solid #FFFFFF;
	/* border: none; */
	font-size: 15px;
	line-height: 20px;
	color: #FFFFFF;
	/* margin-top: 90px; */
	/* margin-bottom: 30px; */
}
.tabs-btn:hover {
	cursor: pointer;
	color: rgb(23, 23, 23);
	transform: scale(0.9);
	transition: 0.5s;
}