.header {
    padding: 25px 0;
    background-color: #000000;
    width: 100%;
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    
}

.letter {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;

}
.seclet {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #EC7979;

}
.header-menu {
  
}
.header-menu-list {
    display: flex;
    
}
.header-menu-list-item {
}

.header-menu-list-item a {
    display: inline-block;
    margin-right: 48px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.2s;
}

.header-menu-list-item a:hover{
    color: rgb(121, 211, 238);
    transform: scale(1.2);
}