.pricing {
    padding: 100px 0;
    background-color: #F5F5F5;
}
.pricing-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.list {
    width: 340px;
    margin: 0 15px;
    transition: 0.2s;
}
.list:hover{
    transform: translate(0px, -20px);
    -webkit-box-shadow: -12px -7px 9px -2px rgba(53, 80, 34, 0.23);
    -moz-box-shadow: -12px -7px 9px -2px rgba(53, 80, 34, 0.23);
    box-shadow: -12px -7px 9px -2px rgba(53, 80, 34, 0.23);
}
.list-item-tariph {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 52px;
    background: #333333;
    text-align: center;
    margin-bottom: 2px;
}
.list-item-cost {
    font-family: 'Raleway';
    color: #fff;
    font-weight: 700;
    font-size: 35px;
    line-height: 87px;
    background: #333333;
    text-align: center;
    margin-bottom: 2px;
}
.list-item-string {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 600;
    font-size: 14px;
    line-height: 52px;
    text-align: center;
    background: #333333;
}
.list-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 47px;
    text-align: center;
    color: #86878B;
    background: #FFFFFF;
    margin-bottom: 4px;
}