.social {
    background-color: #F8EFEF;
    padding: 14px 0;
    width: 100%;
}
.social-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
}
.social-content {
    margin: 0 15px;
   
}
.social-content-subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 15px;  
}
.social-content-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
}
.social-icons {
    display: flex;
    width: 684px;
    justify-content: space-between;
}
.social-icons-links {
    font-size: 42px;
    transition: 0.2s;
}
.fa-brands {
    color: #86878B;
}
.fa-facebook-f:hover {
    color: blue;
    transform: scale(1.2);
}
.fa-twitter:hover {
    color:skyblue;
    transform: rotate(25deg);
    
}
.fa-google-plus-g:hover {
    color: red;
    transform: skew(25deg, 20deg);
}
.fa-pinterest:hover {
    color:yellowgreen;
    transform: translate(0px, 10px);

}
.fa-instagram:hover {
    color: palevioletred;
    transform: scale(1.3);
}
.fa-vk:hover{
    color: lightcyan;
    transform: scale(1.3);
}
.fa-odnoklassniki:hover {
    color: coral;
    transform: scale(1.4);
}