@import url('../css/cdn.css');
@import url('../css/header.css');
@import url('../css/social.css');
@import url('../css/awesome.css');
@import url('../css/pricing.css');
@import url('../css/customers.css');
@import url('../css/axure.css');
@import url('../css/footer.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


html {
    font-family: 'Open Sans', 'Raleway', sans-serif;
}

.container {
    position: relative;
    z-index: 2;
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;

}

.title {
    font-family: 'Raleway';
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 34px;

}

.title::after{
    content: "";
    margin: auto;
    width: 64px;
    height: 2px;
    background-color: #E72424;
    margin-top: 34px;   
    display: block;  

}


.podtext {
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
    margin-bottom: 68px;
   
}