.header {
	// width: 100%;
	// background-color: #000000;
	// padding: 20px 0;
	// position: sticky;
	// top: 0px;
	// z-index: 5;
	position: relative;
	padding: 100px 0;
	padding: 40px 0px 120px 0px;
	background: url('../img/background1.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		// background-color: rgb(37, 43, 73, 0.80);
		background: #252B49;
		opacity: 80%;
	}
	}
 
 .header-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 -15px;
	border-bottom: 1px solid $_grey;
   padding-bottom: 30px;
	// margin-bottom: 130px;
	// border-bottom: 1px solid $_grey;
	// padding-bottom: 36px;
 }

.header-logo {
	display: block;
	// padding-bottom: 24px;
	a {
		font-size: $_30px;
		font-weight: 700;
		&:hover {
			display: inline-block;
			color: $_grey;
			transform: scale(0.9);
		}
	}
	b {
		font-size: $_30px;
		font-weight: 300;
		color: $_white;
		// opacity: 70%;
		&:hover {
			display: inline-block;
			color: $_grey;
			transform: scale(0.9);
		}
	}
}
.letter {
	color: $_grey;
}
.seclet {
	color: $_white;
	cursor: pointer;
}
.navigation {
	width: 700px;
}
.navigation-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.navigation-list-item {
	a {
		color: $_white;
		margin: 0 15px;
  		font-weight: 700;
		font-size: $_13px;
		// content: "";
		// margin: auto;
		// width: 64px;
		// height: 1px;
		// background-color: #E72424;
		// margin-bottom: 30px;
		// display: block;
		// display: inline-block;
		// padding-bottom: 30px;
		text-align: center;
		// line-height: 15px;
		transition: 0.2s;
		&::after {
			// content: "";
			// margin: auto;
			// width: 94px;
			// height: 1px;
			// background-color: #E72424;
			// display: block;
			// margin: 0 15px;
			// padding-bottom: 34px;
			// margin-bottom: 34px;
		 }
		&:hover {
		// content: "";
		// margin: auto;
		// margin: 0 15px;
		// display: block;
		// display: inline-block;
		// color: $_white;
		// width: 120%;
		// width: 120px;
		border-bottom: 3px solid $_grey;
		padding-bottom: 32px;
		// margin-bottom: 34px;
		// transform: scale(1.1);
		}
	}
}
.header-title {
	width: 100%;
	// margin: auto;
	color: $_white;
  	font-weight: 900;
	font-size: $_64px;
	text-transform: uppercase;
	text-align: center;
	// margin-top: 30px;
	&::before {
		content: "";
		// width: 100%;
		// height: 1px;
		// background-color: #FFFFFF;
		display: block;
		margin-bottom: 200px;
	}
}
.header-sub-text {
	width: 100%;
	color: $_white;
	font-weight: 400;
	font-size: $_24px;
	text-align: center;
	margin-top: 30px;
}
.btn {
	display: block;
	// margin-top: 45px;
	// width: 100%;
	margin: 80px auto;
	padding: 18px;
	background: $_red;
	font-weight: 900;
	font-size: $_24px;
	line-height: 20px;
	color: #FFFFFF;
	border: none;
	text-transform: uppercase;
	/* border-radius: 0px 0px 8px 8px; */
	transition: 0.2s;
}
