* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  position: relative;
  z-index: 2;
}
@import "../scss/variables.scss";
@import "../scss/cdn.scss";
@import "../scss/header.scss";
@import "../scss/features.scss";
@import "../scss/work.scss";
@import "../scss/our_team.scss";
@import "../scss/testimonials.scss";
@import "../scss/download.scss";
@import "../scss/contact.scss";
@import "../scss/footer.scss";
@import "../scss/mixins.scss";
// @import "../scss/main.scss"
// @import "../scss/fonts.scss";

html {
  font-family: "Raleway", "Open Sans", sans-serif;
}
section {
  padding: 100px 0;
}
/* ul {
  width: 300px;
  border: $_border;
  @media (max-width: 980px) {
    display: flex;
    flex-direction: row;
  }
  @media (max-width: 640px) {
    flex-direction: column;
  }
  @media (max-width: 320px) {
    display: block;
    width: 70%;
  }
  li {
    display: flex;
    a {
      font-size: $_50px;
      &:hover {
        color: $_red;
      }
      &::after {
        content: "";
        width: 67px;
        height: 2px;
        background-color: $_grey;
        margin: auto;
      }
    }
  }
} */
/* .card {
  @include card;
}
.block {
  @include gradient;
  width: 300px / 1170px * 100%;
}
.tools {
  display: flex;
  &-description {
    background-color: $_black;
  }
  &-item {
    font-size: $_14px;
  }
}
 */