neon {
	width: 100%;
	min-height: 50vh;
	// color: #efe;
	// background: #182848;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 3;
	// background: url('../img/background1.png');
	// background-repeat: no-repeat;
	// background-position: center;
	// background-size: cover;

// neon {
	// border: none;
	// position: relative;
	// border-radius: 10px;		
	// cursor: pointer;
	// background: #182848;
	// padding: 1em 3em;
	// font-family: sans-serif;		
			
		
	/* a {
	text-decoration: none;
	font-size: clamp(1.0rem, 2.0vw, 2.0rem);
	background: linear-gradient(-45deg, #ff00c1, #00fff9);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	} */
// }

		&::after,
		&::before {
		content: "";
		position: absolute;
		background: linear-gradient(
		var(--rotate),
		#ff00c1 0%,
		#9600ff 25%,
		#4900ff 50%,
		#00b8ff 80%,
		#00fff9 100%
		);
		width: 105%;
		height: 110%;
		left: -2.5%;
		top: -5%;
		border-radius: 10px;
		z-index: -1;
		transition: --rotate 9999s linear;
	}
	}
	neon:hover::after,
	neon:hover::before {
		--rotate: 3600deg;
		transition: --rotate 20s linear;
		}
		neon:hover::before {
		animation: fade 1.2s;
		}
		@property --rotate {
		syntax: "<angle>";
		initial-value: 130deg;
		inherits: false;
		}
		@keyframes fade {
		0% {
		opacity: 1;
		transform: scale(1);
		filter: blur(10px);
		}
		100% {
		opacity: 0;
		transform: scale(1.4);
		filter: blur(10px);
		}
		}
