// colors
$_black: #2D3033;
$_black2: #000000;
$_red: #FF4343;// red
$_grey: #656980;
$_grey2: #6C7279;
$_grey3: #808080;
$_white: #FFFFFF;

// font-size 1rem=16px
$_64px: 4rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_13px: 0.8125rem;

//border
$_border: 5px solid $_red;
